.feature{
    align-items: center;
    gap: 140px;
}

#feature-section-title {
    border-left: 5px solid #FF900e;
    padding-left: 21px;
}

#experience-badge{
    padding: 40px 35px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: -130px;
    margin-left: -77px;
}

#experience-year{
    font-size: 4rem;
    font-weight: 700;
}

.feature-card .feature-title {
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0 auto;
}

.feature-card {
    border-radius: 8px;
    padding: 30px 42px 30px 30px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.feature-architect img{
    width: 100%;
}

/* media query */
@media screen and (max-width: 576px) {
    .feature{
        flex-direction: column;
    }
    #experience-badge{
        margin: 20px 0;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .feature{
        flex-direction: column;
    }
    #experience-badge{
        margin: 20px 0;
    }
}